*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    margin: auto;
}

header{
    padding: 32px;
    background-color: cyan;
}

.titulo{
    margin: auto;
    width: 980px;
}

.titulo img{
    display: inline-block;
    padding: 0 16px 0 0;
}

h1{
    display: inline-block;
    font-size: 2rem;
    color: black;
}

main{
    width: 980px;
    display: flex;
    justify-content: space-between;
    margin: 32px auto 32px auto;
}

span{
    position: absolute;
    right: 64px;
    bottom: 64px;
    border-radius: 50px;
    background-color: lightgray;
}

footer{
    padding: 32px;
    background-color: darkslategray;
}