*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

header{
    padding: 32px;
    background-color: cyan;
    display: block;
}

.titulo{
    max-width: 980px;
    left: 16px;
}

h1{
    font-size: 1rem;
    color: white;
}